<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form exemplaire - Bibliotech 221</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body class="bg-white text-gray-800">

    <div class="flex min-h-screen">
        <!-- Sidebar -->
        <div class="bg-[#9E0E40] w-64 text-white flex flex-col px-4 py-6">
            <div class="text-2xl font-bold mb-10">BIBLIOTECH<br>221</div>

            <nav class="space-y-4">
                <a href="dashboard.html"
                    class="flex items-center gap-2 px-3 py-2 hover:text-white hover:bg-[#b3205a] rounded-full">
                    <i class="ri-dashboard-line text-lg"></i> Dashboard
                </a>
                <a href="liste_ouvrage.html"
                    class="flex items-center gap-2 px-3 py-2 bg-white text-[#9E0E40] rounded-full font-semibold ">
                    <i class="ri-book-2-line text-lg"></i> Ouvrages
                </a>
                <a href="#" class="flex items-center gap-2 px-3 py-2 hover:text-white hover:bg-[#b3205a] rounded-full">
                    <i class="ri-user-3-line text-lg"></i> Auteurs
                </a>
                <a href="#" class="flex items-center gap-2 px-3 py-2 hover:text-white hover:bg-[#b3205a] rounded-full">
                    <i class="ri-layout-line text-lg"></i> Rayons
                </a>
                <a href="#" class="flex items-center gap-2 px-3 py-2 hover:text-white hover:bg-[#b3205a] rounded-full">
                    <i class="ri-book-open-line text-lg"></i> Exemplaires
                </a>
                <a href="#" class="flex items-center gap-2 px-3 py-2 hover:text-white hover:bg-[#b3205a] rounded-full">
                    <i class="ri-exchange-box-line text-lg"></i> Prêts
                </a>
            </nav>
        </div>

        <!--  contenu -->
        <div class="flex-1">
            <!-- Top bar -->
            <div class="flex  justify-between items-center mb-6 bg-white shadow p-2">
                <div class="flex items-center gap-2 bg-gray-200 px-3 py-1 rounded-full w-1/2">
                    <input type="text" class="bg-transparent focus:outline-none flex-1 " placeholder="Rechercher..." />
                    <button class="bg-[#9E0E40] text-white px-4 py-1 rounded-full  text-sm">OK</button>
                </div>
                <div class="flex items-center gap-2">
                    <span class="text-[#9E0E40] font-semibold">Rokhaya Niass</span>
                    <img src="./image/Rectangle 43.png" class="w-10 h-10 rounded-full" alt="avatar" />
                </div>
            </div>
            <!-- formulaire -->
            <div class="space-y-4 w-full max-w-md mx-auto mt-20 p-4 bg-white rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-[#9E0E40] text-center">Ajouter un exemplaire</h3>
            <div class="space-y-4">
                <div>
                    <label for="code" class="block text-sm font-medium text-gray-700">Code</label>
                    <input type="text" id="code" name="code" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-[#9E0E40] focus:border-[#9E0E40]">
            </div>
            <div class="flex  justify-end items-center space-x-2 pt-4">
                <button type="button" data-modal-close="addExemplaireModal"
                    class="text-white bg-[#9E0E40] opacity-50 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-[#b3205a] rounded-lg text-sm px-5 py-2.5">
                    Annuler
                </button>
                <button type="submit"
                    class="text-white bg-[#9E0E40] hover:bg-[#b3205a] focus:ring-4 focus:outline-none focus:ring-[#b3205a] rounded-lg text-sm px-5 py-2.5">
                    Ajouter
                </button>
            </div>

        </div>
    </div>

</body>

</html>